@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
body {
  /*	background: black;*/
  margin: 0;
  padding: 0;
}
.MainFrame {
  border: 2px solid black;
  height: 600px;
  width: 80%;
	background-image: url("mainbg.svg");
  margin: auto;
  position: absolute;
  left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center, center;
}
.playerOne {
    z-index: 1500;
    width: 70%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
}

.playerOne img{
  height: 120px;
  width: auto;
  margin-left: -30px;
}

.playerOne img:hover{
  height: 150px;
  border: 2px solid green;
 
}


.playerThree {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.playerTwo img {
    width: 80px;
    height: auto;
    position: absolute;
    right: 110px;
    top: 50%;
    transform: translateY(-50%);
}
.playerThree img{
    width: 80px;
    height: auto;
    position: absolute;
    left: 60%
}
.playerFour img {
  width: 80px;
    height: auto;
    position: absolute;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
}

.image2{
  background: green;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('Ftwo.jpg');
  background-size: cover;
}
.image3{
  background: red;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-image: url('Fthree.jpg');
  background-size: cover;
  
}
.image4{
  background: purple;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('Ffour.jpg');
  background-size: cover;
}


.showmessage {
  position: absolute;
  left: 50%;
  top: 46%;
  display: block;
  color: red;
  transform: translate(-50%, -50%);
}
.showmessage img{
    height: 140px;
    width: auto;
}
.displayNone {
  display: none!important;
}
.showinformation {
    position: absolute;
    left: 16%;
    top: 110px;
    height: 120px;
    width: 20%;
    background: #E8F7A9;
    align-items: center;
}

.playerturn {
    position: absolute;
    right: 16%;
    top: 110px;
    color: red;
    background: white;
    border-radius: 5px;
    padding: 5px;
}

.winnertext {
   position: absolute;
    left: 65%;
    top: 118px;
    transform: translateX(-65%);
    border: 1px solid;
    width: 100px;
    padding: 5px;
    text-align: center;
    background: blue;
    color: white;
    border-radius: 15px;
}

.pointerNone{
pointer-events: none;
}

.pointTable {
    /*z-index: 1001;*/
    position: absolute;
    display: block;
    background: red;
    padding: 10px;
    left: 15%;
    top: 250px;
    color:white;
}
.player1{
    color: white;
    width: 70%;
    top: auto;
    bottom: 130px;
    left: 50%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    transform: translateX(-50%);
}
.player2{
     right: 0;
    left: auto;
    top: 20%;
}
.player3{
  top: 0;
  left: 35%;
  transform: translateX(-50%);
}
.player4{
       left: 0;
    right: auto;
    top: 20%;
}

.playerCircle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
}
.cover{
  z-index: 2000;
}
.playerOneClass {
   position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
}

.playerTwoClass {
   position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(150%, -50%);

  
}
.playerThreeClass {
   position: absolute;
    top: -50%;
    right: 50%;
    transform: translateX(50%);
    transform: translate(50%, -100%);
}

.playerFourClass {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-150%, -50%);
}

.mainplayerCall{
  position: absolute;
  background-image: linear-gradient(to right, red, green);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  overflow: hidden;
  
}
.mainplayerCall p{
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 15px;
  font-size: 25px;
 
}
.callhead {
    color: white;
    text-align: center;
    background: blue;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
}
.calls{
  display: flex;
}
.calls p:hover{
  background: yellow;
  color: red;
  cursor: pointer;
}
.clickme{
      display: block;
    z-index: 10005;
    left: 70%;
    position: absolute;
    top: 60%;
    padding: 5px;
    font-size: 20px;
}